@model IEnumerable<Product>

@{
    ViewData["Title"] = "Product List";
    Layout = "_Layout";
}
<a class="btn btn-success" href="@Url.Action("Create", "Product")">Create</a>
<table class="table table-info">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>@product.Quantity</td>
                <td>@product.CategoryId</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("Edit", "Product", new { id = product.Id })">Edit</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", "Product", new { id = product.Id })">Delete</a>
                    <a class="btn btn-info" href="@Url.Action("Details", "Product", new { id = product.Id })">Details</a>
                </td>                     
            </tr>
        }
    </tbody>
</table>